* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url('../img/main_bg.png') center center/ cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    width: 83px;
    height: 71px;
    display: block;
    margin: 0 auto;
    
}

.logo_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 52px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    color: #F9BF3B;
    text-transform: uppercase;
}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;      
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 20.5px 3px 20.5px 3px;
}

.promo .promo_text {
    padding: 0 13px 0 13px;
    margin-top: 23px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.promo .promo_text span {
    text-transform: uppercase;
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo_btn {
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    width: 313px;
    height: 72px;
    display: block;
    margin: 50px auto;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.more .more_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    width: 29.99px;
    height: 18.99px;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.waiting {
    background: url('../img/backdoor.png');
    min-height: 604px;
    padding-top: 60px;
}

.waiting .container h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.line {
    width: 220px;
    height: 5px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.telling {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 18.5px;
}

.waiting_item {
    vertical-align: top;
    margin-top: 45.5px;
}

.waiting_item .notebook {
    vertical-align: top;
}

.waiting_item .some_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin-top: 26px;
}

.waiting_wrapper {
    display: flex;
    justify-content: space-between;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;

}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 30px;
    color: #299CBD;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-style: 17px;
    font-weight: 300;
    line-height: 27px;
    font-family: "Roboto Light";
    font-weight: 300;
}

.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left:-240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/second_bg.png") center center/ cover no-repeat;

}

.finish .container h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}   

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
    }







